
table{
    border-collapse: collapse;
}
td{
    border: solid thin black;
    padding: 2px;
    text-align: center;
    width: 20px;
    height: 20px;
}
td.first{
    background-color: green;
    color: white;
}