
h1{
    margin-bottom: 30px;
    border-bottom: solid 2px red;
    text-align: center;
}
dt{
    padding: 10px;
    background-color: #3476ac;
    margin: 10px;
    cursor: pointer;
    font-size: 1.4em;
}
dd{
    margin-bottom: 20px;
    padding: 10px;
    color: #3476ac;
}